setuptools
wheel
streamlit
yfinance
pandas==2.2.2
numpy==1.26.4
plotly
ta
scikit-learn
alpaca-trade-api
openai
sqlalchemy
bcrypt
requests>=2.31.0
urllib3==1.26.19
psycopg2-binary
flask
stripe
xgboost
lightgbm
tzdata
